
h1,h2 {
    font-size: x-large ;
    color: black;
    text-align: center;
    
}
h1,h2,p {
    margin: 20px;
    padding: 10px;
}
.blog-post {
    border: 1px solid #ccc;
    margin: 20px;
    padding:20px ;
    background-color: #afdee6;
} 
.navbar {
    background-color: #17bad7;
    padding: 10px 20px;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;

}
.nav-menu li a {
    color: #f3f0f0;
    text-decoration: none;
    font-size: 18px;

}
.blog-container {
    display: flex;
    gap: 20px;
    padding: 20px;

}
.blog-list {
    flex: 1;
    border-right: 2px solid #ccc;
    padding-right: 20px;
}
.blog-detail {
    flex: 2;
    padding-left: 20px;
}
@media (max-width:768px) {
    .blog-container {
        flex-direction: column;
    }
    .blog-list, .blog-detail {
        border: none;
        padding: 0;
    }
}
 body {
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    box-sizing: border-box;
 }
 h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;

 }
 h2 {
    font-size: 24px;
    margin: 20px 0 10px;
 }
   p {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
   }
   a {
    font-size: 16px;
    color: darkred;
   }
    .submit-botton input {
        background-color: #17bad7;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .submit-botton input:hover {
        background-color: #1399b5;
    }
